* {
    font-family:sans-serif;
}

body {
    background:#000;
    color:#fff;
    margin:0px;
}

#left {
    float:left;
    width:70%;
}

#right {
    float:right;
    width:30%;
}

.box {
    background:#111;
    border:1px solid #333;
    padding:10px;
    margin:10px;
}
#left .box {
    margin-right:0px;
}

.box h2 {
    margin-top:0px;
}
.box h2 input {
    float:right;
}

ul {
    list-style:none;
    padding-left:10px;
}

li div {
    width:16px;
    height:16px;
    background: #f00;
    float:left;
    margin-right:10px;
    -moz-border-radius:4px;
}

#nodes .new {
	opacity:0.5;
}


.players table {
	width:100%;
	padding:0px;
	margin:0px;
}

.players table th {
	background:#444;
	border-bottom:2px solid #fff;
	padding:3px;
	text-align:left;
}

.players table tr.even {
	background:#333;
}

.players .name, 
.players .vest, 
.players .weapon 
{
	width:170px;
}

.players table input {
	border:0px;
	background:transparent;
	color:#fff;
}
